.wrapper__privacy{
    text-align: center;
}
.section-header__privacy{
    text-align: center;
    padding-top: 10rem;
}
.section-header__description-privacy{
    padding: 2rem;
    text-align: justify;
}
